body{
    margin: 0px;
    padding-top: 15px; ;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    
}

h1{
    color: #66BFBF;
    font-size: 5.625rem; /* 1em = 16px */
    padding-top: 50px;
    margin-bottom: 5px;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
    margin-bottom: 80px;
}

}
p {
    
    font-weight: normal;
    margin: 0 auto 0 auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}

a:hover {
    color: #eaf6f6;
}

.top-container{
    background-color: #DEEDF0;
    padding-top: 100px;
    position: relative;

   /*top container is a parent to top and bottom cloud (relative)*/
}

.Jitesh-profile-pic {
    padding-bottom: 50px;
}

.middle-container {
    padding-top: 80px;
    padding-bottom: 80px;
 
}

.table-1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skill-row {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}

.skill-1 {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.skill-2 {
    float: right;
    width: 25%;
    margin-left: 30px;
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 20px;
    
}

.top-cloud {
    position: absolute;
    right: 25   0px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    top: 400px;
}

.btn {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
    background-color: #11999E;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #09B5C3;
   border: solid #DEEDF0 0;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   text-decoration: none;
 }

 .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
 }
}
